.row__2 {
	width: 100%;
	display: inline-block;
	position: relative;
	margin: -1rem auto;
}


.col-1-of-2 {
	width: 49%;
	height: 70vh;
	display: inline-block;
	border-bottom: 8px solid white;
	transition: all .001s;
	position: relative;
}

.col-1-of-2:first-child {
	border-right: 8px solid white;
}

[class^= "img__text"] {
	padding: 3px;
	background-color: yellow;
	color: purple;
	display: inline-block;
	font-weight: 900;
	text-transform: uppercase;
	position: absolute;
	opacity: 0;
}

[class^= "img__text"]:hover {
	border: 2px solid purple;
}

.img__text--preview {
	top: 60%;
	left: 35%;
}

.img__text--demo {
	position: absolute;
	top: 80%;
	left: 10%;
}

.img__text--github {
	position: absolute;
	top: 80%;
	left: 60%;
}

[class^= "img-"] {
	border-radius: .5rem .5rem 0 0;
	margin: 5rem auto;
	width: 60%;
	height: 37vh;
	position: relative;
	box-shadow: 0 6rem 12rem rgba(0,0,0,.6);
}

[class^= "img-"]:hover [class^= "img__text"] {
	opacity: 1;
}

.col-1-of-2 div:hover {
	-webkit-filter:sepia(50%); 
	filter:sepia(50%);
	cursor: pointer;
}

[class^= "banner"] {
	padding: .7rem 0;
	text-transform: uppercase;
	font-weight: 700;
	position: absolute;
	left: 0;
	bottom: -2.4rem;
	width: 100%;
	height: 3vh;
	border-radius: 0 0 .7rem .7rem;
	background-color: #808080;
	box-shadow: 0 6rem 12rem rgba(0,0,0,.6);
	text-align: center;
}

.img-1 {
	background-image: url(../../img/gd-1.jpg);
}

.img-2 {
	background-image: url(../../img/gd-2.jpg);
}

.img-3 {
	background-image: url(../../img/gd-1.jpg);
}

.img-4 {
	background-image: linear-gradient(to right bottom, white, orange);
}