.header {
	perspective: 150rem;
	-moz-perspective: 150rem;
	position: relative;
	margin: 0;
	height: 100vh;
	background-image: linear-gradient(45deg , rgba(0, 255, 255,.3), 
		rgba(255, 117, 26,.3)), url(../../img/gd-4.jpg);
	background-size: cover;
	position: relative;
	/*transition: transform 5.5s ease, width 5s ease 5.5s, height 5s ease 5.5s; */
	transition: all 1s ease;
}

.txt-center {
	text-align: center;
}

.next {
	position: absolute;
	top: 40%;
	left: 85.5%;
	color: #eee;
	font-weight: 700;
	display: inline-block;
	text-transform: uppercase;
	font-size: .65rem;
	animation: lArrow 4s ease-in-out infinite;
}


.heading__primary {
	color: #f2f2f2;
	font-weight: 700;
	position: absolute;
	top: 15%;
	left: 25%;
	text-transform: uppercase;
	font-family: 'Lato', serif;
	letter-spacing: 1.44rem;
}

.shortDesc {
	position: absolute;
	left: 0%;
	text-align: center;
	font-size: 1.1rem;
	font-weight: 900;
	text-transform: none;
	color: #66ff66;
	letter-spacing: .3rem;
	margin-bottom: 3.5rem;
}

.heading__primary--1 {
	animation: moveDown .6s ease-out 2.2s;
}

.heading__primary--2 {
	animation: scaleInc 1.4s ease-out 2.8s;
	color: #ffa64d;
	font-size: 3.5rem;
	font-weight: 900;
	letter-spacing: 0.4rem;
	transition: all 1s ease-out;
}

.heading__primary--2:hover {
	transform: scale(1.15);
	border-bottom: .2rem solid #99ccff;
}

.heading__primary--3 {
	animation: moveUp .6s ease-out 3.4s;
	margin-bottom: 1rem;
}

.btn:link, .btn:visited {
	position: absolute;
	left: 40%;
	bottom: 20%;
	font-size: 1.75rem;
	padding: .6rem .9rem;

	text-decoration: none;
	border-radius: 1.5rem;
	color: #99ccff;
	background-color: #eee;
	border-bottom: .3rem solid #99ccff;
	transition: all .5s;
}

.btn:hover {
	background-color: #99ccff;
	box-shadow: 0 1.1rem 2.2rem rgba(0,0,0,.5);
	color: #eee; 
}

.btn:active {
	box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.5);
	transform: translateY(1rem);
}

@keyframes moveDown {
	0% {
		opacity: 0;
		transform: translateY(-200px);
	}

	80% {
		transform: translateY(20px);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes scaleInc {
	0% {
		opacity: 0;
		color: #f2f2f2;
	}

	50% {
		opacity: 1;
		color: #f2f2f2;
	}

	95% {
		opacity: 1;
		color: #99ccff;
		transform: scale(1.15);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes moveUp {
	0% {
		opacity: 0;
		transform: translateY(500px);
	}

	80% {
		transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}