.lArrow__checkbox {
	display: none;
}

.lArrow__button {
	position: fixed;
	z-index: 2000;
	top: 50%;
	left: 93.5%;
	color: white;
	font-weight: 900;
	display: block;
	text-transform: uppercase;
	font-size: .85rem;
	animation: lArrowAnim 4s cubic-bezier(0,1.92,0,.74) infinite;
	z-index: 2000;
	transition: all .5s ease-out;
}

.lArrow__button--look {
	color: #eee;
	font-size: .8.5rem;
	display: block;
	cursor: pointer;
	position: relative;
}

.lArrow__button--look::after {
	content: "";
	position: absolute;
	top: -3rem;
	left: 0rem;
	background-color: white;	
	height: .25rem;
	width: 3rem;
	transform: rotate(30deg);
}

.lArrow__button--look::before {
	content: "";
	position: absolute;
	top: -1.6rem;
	left: 0rem;
	background-color: white;	
	height: .25rem;
	width: 3rem;
	transform: rotate(-25deg);
}

.lArrow__button--text {
	opacity: 0;
	font-size: .8rem;
}

.lArrow__button:hover .lArrow__button--text {
	opacity: 1;
}

.lArrow__checkbox:checked ~ div { 
	transform: rotateY(-80deg);
	opacity: 0;                   
} 

div {
	transition: all 1.2s;
}

@keyframes lArrowAnim {
	0% {
		transform: translateX(-5rem);
		opacity: 0;
	}

	15% {
		transform: translate(0);
		opacity: .7;
	}

	100% {
		transform: translate(0);
		opacity: .7;
	}
}