.lArrow__checkbox {
	display: none;
}

.lArrow__button {
	position: absolute;
	top: 40%;
	left: 95.5%;
	color: #eee;
	font-weight: 700;
	display: block;
	text-transform: uppercase;
	font-size: .65rem;
	animation: lArrowAnim 4s cubic-bezier(0,1.92,0,.74) infinite;
	z-index: 1000;
}

.lArrow__button--look {
	color: #eee;
	font-size: 2.5rem;
	display: block;
	cursor: pointer;
}

.lArrow__button--look:hover {
	cursor: pointer;
	font-weight: 900;
}

.lArrow__checkbox:checked ~ div { 
	transform: rotateY(-80deg);
	opacity: 0;                   
} 

div {
	transition: all 1.2s;
}

@keyframes lArrowAnim {
	0% {
		transform: translateX(-5rem);
		opacity: 0;
	}

	15% {
		transform: translate(0);
		opacity: .7;
	}

	100% {
		transform: translate(0);
		opacity: .7;
	}
}